extends ../layout
block scripts
  script(src='/javascripts/account/manage.js')
block content
  div(class='input-form')
    form(method='post', action='/account/member/create')
        div
            label(for='username') New member:
            input(type='text', id='name', name='name')
        div
            input(type='submit', id='add', name='add')
  p Members:
  div(id='members')