doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block cssfiles
    script(src='/javascripts/lib/jquery-2.1.3.min.js')
    script(src='/javascripts/lib/jquery.cookie.js')
    script(src='/javascripts/account/common.js')
    script(src='/javascripts/category/common.js')
    script(src='/javascripts/common.js')
    block scripts

  body
    nav
      div(id='menu') Menu
        div(id='menu_flyout', class='flyout hide-it')
          ul
            li
              a(href='/transactions/logit', name='logit') Log It!
            li
              a(href='/reports', name='reports') Reports
            li
              a(href='/category/manage', name='category') Manage Categories
            li
              a(href='/account/manage', name='account') Manage Account
            li
              a(id='logout', href='/', name='logout') Log Out
            block custom_menu
      div(id='menu_users')
        span(id='active-user')
        div(id='user_flyout', class='flyout hide-it')
          ul
    block content
