extends ../layout
block scripts
    script(src='/javascripts/category/manage.js')
block content
  h1= title
  div(class='input-form')
    form(method='post', action='/categories')
      div
        label(for='title') Title
        input(type='text',id='title', name='title')
      div
        input(type='submit', id='sendit')
  p Categories:
  div(id='categories')